.idea/
**/.idea

*.pyc
__pycache__/
**/__pycache__

*.npy
*.jpg
*.png
*.csv
*.json
*.tar

.DS_Store

**/cache/
**/__MACOSX

*.ckpt
*.pth
*.index
ckpt
checkpoint
*.meta
*.data-00000-of-00001
*.tfrecord
